
.btn-login{
    float:left;
    left:50px;
}

#cssmenu ul li{
    float: right;
}
.logo{
    float:right;
}
.swiper-item{
    right:0;
}
.slide-text{
    text-align:right;
    left:5%;
}
.swiper-slide .number{
    left:10px;
}
.swiper-arrows{
    left:20%;

}
.swiper-button-next{
    left:0%;
    right:auto;
}
.swiper-button-prev{
    left:80px !important;
    right:auto !important;
}

/* HOME-ABOUT */
.home-about{
    direction: rtl;
}
.home-about-img img{
    margin-right:85px;
}
.home-sec2{
  direction: rtl; 
}

.home-sec2 .home-sec2-image img{
  margin-right:85px;
}